/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
	/* font-family: 'Poppins', sans-serif; */
	/* font-family: 'Source Code Pro', monospace;
	 */
	font-family: 'Quicksand', sans-serif;
}
.btn,
.btn-large,
.btn-small {
	text-decoration: none;
	color: #111;
	background-color: #f4d077;
	text-transform: none;
}
.btn:hover,
.btn-large:hover,
.btn-small:hover {
	background-color: #febd69;
}
.btn:focus,
.btn-large:focus,
.btn-small:focus,
.btn-floating:focus {
	background-color: #f3a847;
}
.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.user-login {
	display: flex;
	min-height: 84px;
	background: #f4d077;
	align-items: center;
}
.user-img {
	padding: 10px 0px 0px 10px;
}
.user-info {
	width: 100%;
	line-height: 1.5rem;
	padding: 3px 10px 10px;
}

.user-info .user-name {
	line-height: 1.5;
}
.user-mob a {
	padding: 0;
	color: #df9e00;
}
.mycard-panel {
	margin: 0px 7px 0px 12px !important;
}
.dcard {
	/* width: max-content; */
	/* border: 1px solid rgb(224, 224, 224); */
	padding: 15px 0px 0px 0px;
	margin-bottom: 10px;
	border-radius: 5px;
	/* -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); */
	/* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); */
}
.dcard,
.black-text p {
	font-size: 16px;
}
.modal.modal-content:focus,
.modal.modal-content:active,
.modal.modal-content:focus-visible {
	/* padding: 24px; */
	border: 0 !important;
	outline: 0 !important;
}
.dnav {
	/* background: #f6f6f6; */
	background: #f7f7f8 !important;
	height: 40px;
	line-height: 40px;
	box-shadow: none;
	margin-bottom: 10px;
}
.pnav {
	background: #f7f7f8 !important;
}

.pnav a {
	color: #000000;
	font-size: 12px;
}
.dnav a {
	color: #000000;
	font-size: 12px;
}
.breadcrumb:last-child {
	color: #000000;
}

.dnav,
.breadcrumb:before {
	color: #000000;
	font-size: 20px;
}
.card-image {
	max-width: 100%;
}
.seller-card {
	/* box-shadow: rgba(188, 188, 188, 0.5) 0px 2px 9px 0px; */
	margin-bottom: 10px;
	padding-top: 25px !important;
}
.seller-card:hover {
	box-shadow: rgba(188, 188, 188, 0.5) 0px 2px 9px 0px;
	border-radius: 16px;
}
.seller-card img {
	border-radius: 10px;
	max-width: 100px;
}
.seller-card .black-text h6 {
	margin-top: 0px;
}
footer {
	background: #f7f7f8 !important;
	/* background: #fff; */
	box-shadow: rgba(0, 0, 0, 0.11) 0 -1px;
	/* background: linear-gradient(0.56deg, rgba(123, 157, 156, 0.25) 35%, rgba(123, 157, 156, 0)) !important; */
}

.btn-block {
	width: 100%;
}

.sign-out button {
	/* border: 1px solid #000000; */
	/* padding: 5px 20px; */
	border-radius: 5px;
	background: #ffff;
	color: #000000;

	transition: ease-in-out 0.3s;
}
.sign-out i {
	line-height: 35px !important;
}

.sign-out button:hover {
	color: #ffffff;
	background: #000000;
	transition: ease-in-out 0.3s;
}

.cart-badge {
	display: flex !important;
	justify-content: center;
	border-radius: 50%;
	position: absolute;
	right: 6px;
	top: 9px;
	height: 19px !important;
	width: 19px !important;
	align-items: center !important;
	min-width: 0rem !important;
	color: #ffffff !important;
	font-size: 12px !important;
	line-height: 21px !important;
}
.cart-badge-mob {
	display: flex !important;
	justify-content: center;
	border-radius: 50%;
	position: absolute;
	right: -9px;
	top: 7px;
	height: 19px !important;
	width: 19px !important;
	align-items: center !important;
	min-width: 0rem !important;
	color: #ffffff !important;
	font-size: 12px !important;
	line-height: 21px !important;
}

.footer-list li {
	/* padding-left: 10px; */
}
.footer-list li,
a {
	font-size: 13px;
}
.login-btn a {
	text-transform: none !important ;
	font-size: 13px !important;
}
.order-table {
	border-collapse: unset !important;
}
.order-table th,
td {
	padding: 7px !important;
	/* border-top: 1px solid #e3e9ef; */
}
.cart-table td,
th {
	padding: 10px 0px !important;
}
.profile .tabs .tab a:focus,
.profile .tabs .tab a:focus.active {
	background-color: rgb(238 238 238);
	outline: none;
}
.profile .indicator {
	display: none;
}
.profile .tabs {
	text-align: center;
}
.profile .tabs .tab a {
	color: #000000;
	display: grid;
	width: 100%;
	height: 100%;
	padding: 0 24px;
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-transition: color 0.28s ease, background-color 0.28s ease;
	transition: color 0.28s ease, background-color 0.28s ease;
}
.profile .tabs .tab {
	display: inline-block;
	text-align: center;
	line-height: 25px;
	height: 48px;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

.visible {
	display: block !important;
}

#address-section {
	display: none;
}

input.ng-dirty.ng-valid {
	border-bottom: 1px solid #388e3c !important;
}

input.ng-dirty.ng-invalid {
	border-bottom: 1px solid #d32f2f !important;
}
.modal:focus {
	outline: none !important;
}
.profile-img {
	display: flex;
	background-color: #f6f9fc !important;
	padding: 1.5rem;
	border-radius: 0.4375rem;
}
.item-center {
	align-items: center !important;
}
.center-img {
	margin-left: 0;
	margin-right: 0;
	display: block;
}
.profile-img-upload {
	display: flex;
	padding-left: 1.5rem;
}
.profile-img-upload .btn {
	display: inline-table;
	width: 100%;
	line-height: 1.5;
	/* padding: px; */
}
#toast-container {
	min-width: 10%;
	top: 50%;
	right: 50%;
	transform: translateX(50%) translateY(50%);
}

del {
	color: rgb(236, 103, 103);
	font-size: 12px;
}
.products {
	border: none;
}
/* .products .collection-item {
	line-height: 0rem;
	padding: 15px 0px;
	border-bottom: none;
}
.products a {
	font-weight: 500;
	border-radius: 20px;
}
.products i.left {
	float: left;
	margin-right: 0px;
} */
/* .products .product-info .btns a {
	display: flex;
	align-items: center;
} */
/* .products .btns {
	//display: flex;

	display: grid;
	align-items: center;
} */
.btns i.left {
	float: left;
	margin-right: 0px;
}
.btns span a {
	border: none;
	background: none;
	font-weight: bold;
	border-radius: 20px;
	height: 25px;
	line-height: 26px;
}
/* .products .product-info button:active,
.products .product-info button:focus {
	border: none;
	background: none;
} */

.products .circle {
	position: absolute !important;
	width: 60px !important;
	height: auto !important;
	overflow: hidden !important;
	left: 6px !important;
	display: inline-block !important;
	vertical-align: middle !important;
	border-radius: 0 !important;
}
.products .collection {
	margin: 0.5rem 0 1rem 0;
	border: none;
	border-radius: 2px;
	overflow: hidden;
	position: relative;
}
.products .collection .collection-item {
	/* background-color: #fff;
	line-height: 1.5rem;
	padding: 10px 20px;
	margin: 0; */
	border-bottom: none;
}
@media only screen and (max-width: 991px) {
	.products {
		width: 100%;
		padding: 0;
	}
	.btns {
		display: contents;
	}
	.btns span a {
		border: none;
		background: none;
		font-weight: bold;
		border-radius: 20px;
		padding: 0px 10px;
		font-size: 10px;
		text-transform: none;
		height: 20px;
		line-height: 21.4px;
	}

	.btns i.left {
		float: left;
		margin-right: 0px;
		font-size: 14px;
	}
	/* .products .collection-item h6 {
		font-size: 13px;
		line-height: 100%;
		margin: 4px;
	}
	.products li {
		display: flex;
		align-items: center;
	}
	.products .product-info {
		padding-left: 10px;
		margin: 0;
	}
	.products .product-info div {
		display: flex;
		align-items: center;
	} */
	.chk-btn a,
	.chk-btn button {
		/* width: 50%%; */
		margin: 5px 0px;
	}
}
