/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
	font-family: 'Poppins', sans-serif;
}
.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.mycard-panel {
	margin: 0px 7px 0px 12px !important;
}
.dcard {
	/* width: max-content; */
	/* border: 1px solid rgb(224, 224, 224); */
	padding: 15px 0px 0px 0px;
	margin-bottom: 10px;
	border-radius: 5px;
	/* -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); */
	/* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); */
}
.dcard,
.black-text p {
	font-size: 16px;
}
.modal.modal-content:focus,
.modal.modal-content:active,
.modal.modal-content:focus-visible {
	/* padding: 24px; */
	border: 0 !important;
	outline: 0 !important;
}
.dnav {
	/* background: #f6f6f6; */
	background: #f7f7f8 !important;
	height: 40px;
	line-height: 40px;
	box-shadow: none;
	margin-bottom: 10px;
}
.pnav {
	background: #f7f7f8 !important;
}

.pnav a {
	color: #000000;
	font-size: 12px;
}
.dnav a {
	color: #000000;
	font-size: 12px;
}
.breadcrumb:last-child {
	color: #000000;
}

.dnav,
.breadcrumb:before {
	color: #000000;
	font-size: 20px;
}
.card-image {
	max-width: 100%;
}
.seller-card {
	/* box-shadow: rgba(188, 188, 188, 0.5) 0px 2px 9px 0px; */
	margin-bottom: 10px;
	padding-top: 25px !important;
}
.seller-card:hover {
	box-shadow: rgba(188, 188, 188, 0.5) 0px 2px 9px 0px;
	border-radius: 16px;
}
.seller-card img {
	border-radius: 10px;
	max-width: 100px;
}
.seller-card .black-text h6 {
	margin-top: 0px;
}
footer {
	background: #f7f7f8 !important;
	/* background: #fff; */
	box-shadow: rgba(0, 0, 0, 0.11) 0 -1px;
	/* background: linear-gradient(0.56deg, rgba(123, 157, 156, 0.25) 35%, rgba(123, 157, 156, 0)) !important; */
}

.btn-block {
	width: 100%;
}

.sign-out a {
	/* border: 1px solid #000000; */
	/* padding: 5px 20px; */
	border-radius: 5px;
	background: #ffff;
	color: #000000;

	transition: ease-in-out 0.3s;
}
.sign-out i {
	line-height: 35px !important;
}

.sign-out a:hover {
	color: #ffffff;
	background: #000000;
	transition: ease-in-out 0.3s;
}
.products {
	border: none;
}
.products .collection-item {
	line-height: 2.5rem;

	border-bottom: none;
}
.products a {
	font-weight: 500;
	border-radius: 20px;
}
.products i.left {
	float: left;
	margin-right: 5px;
}
del {
	color: rgb(236, 103, 103);
	font-size: 12px;
}

.profile .tabs {
	display: inline-table;
	white-space: normal !important;
}

.profile .tabs .tab {
	width: 100%;
	line-height: 2;
}

.profile .tabs .tab a {
	color: rgb(161 162 165);
	padding: 10px 24px;
	text-align: left;
	text-transform: none;
}

.profile .tabs .tab a:focus,
.profile .tabs .tab a:focus.active {
	background-color: rgb(238 238 238);
	outline: none;
}

.profile .indicator {
	display: none;
}
.cart-badge {
	border-radius: 15px;
	position: absolute;
	right: -2px;
	top: 5px;
	height: 24px;
	min-width: 0rem !important;
	color: #ffffff !important;
	font-size: 12px !important;
}
.cart-badge-mob {
	border-radius: 15px;
	position: absolute;
	right: -14px;
	top: 2px;
	height: 24px;
	min-width: 0rem !important;
	color: #ffffff !important;
	font-size: 12px !important;
}
/* Style the tab
.tab {
	float: left;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	width: 30%;
	height: 300px;
}

/* Style the buttons that are used to open the tab content
.tab button {
	display: block;
	background-color: inherit;
	color: black;
	padding: 22px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
}

/* Change background color of buttons on hover
	background-color: #ddd;
}

/* Create an active/current "tab button" class
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content
.tabcontent {
	float: left;
	padding: 0px 12px;
	border: 1px solid #ccc;
	width: 70%;
	border-left: none;
	height: 300px;
} */
