<div class="container-fluid" ng-controller="address">
  <div class="input-field col s12 m6 l6 align-center">
    <button class="waves-effect waves-light btn" id="add-btn">
      <i class="material-icons left">add_circle_outline</i>Add New Address
    </button>
  </div>
  <div class="section">
    <div class="row">
      <form
        id="address-section"
        name="form"
        class="col s12"
        autocomplete="off"
        novalidate
      >
        <div class="row">
          <input ng-model="x.addr_id" name="addr_id" hidden />
          <div class="input-field col s12 m4 l4">
            <input
              id="name"
              name="name"
              ng-model="x.name"
              type="text"
              class="validate"
              required=""
            />
            <label for="name">First Name </label>
            <br />
            <div ng-show="form.$submitted || form.name.$touched">
              <div ng-show="form.name.$error.required" class="red-text">
                Tell us your First name.
              </div>
            </div>
          </div>
          <div class="input-field col s12 m4 l4">
            <input
              id="last_name"
              name="lname"
              ng-model="x.lname"
              type="text"
              class="validate"
              required=""
            />
            <label for="last_name">Last Name</label>
            <br />
            <div ng-show="form.$submitted || form.lname.$touched">
              <div ng-show="form.lname.$error.required" class="red-text">
                Tell us your Last Name.
              </div>
            </div>
          </div>
          <div class="input-field col s12 m4 l4">
            <input
              id="pin"
              name="pin"
              ng-model="x.pin"
              type="text"
              class="validate"
              required=""
            />
            <label for="pin">Pin</label>
            <br />
            <div ng-show="form.$submitted || form.pin.$touched">
              <div ng-show="form.pin.$error.required" class="red-text">
                Tell us your pin code.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m4 l4">
            <input
              id="city"
              name="city"
              ng-model="x.city"
              type="text"
              class="validate"
              required=""
            />
            <label for="city">City</label>
            <br />
            <div ng-show="form.$submitted || form.city.$touched">
              <div ng-show="form.city.$error.required" class="red-text">
                Tell us your city.
              </div>
            </div>
          </div>
          <div class="input-field col s12 m4 l4">
            <select
              class="browser-default"
              ng-model="x.country_id"
              name="country_id"
              required=""
            >
              <option disabled selected>Select Your Country</option>
              <option ng-repeat="c in country" value="{{c.country_id}}">
                {{c.name}}
              </option>
            </select>
            <br />
            <div ng-show="form.$submitted || form.country_id.$touched">
              <div ng-show="form.country_id.$error.required" class="red-text">
                Select your country.
              </div>
            </div>
          </div>
          <div class="input-field col s12 m4 l4">
            <select
              class="browser-default"
              ng-model="x.zone_id"
              name="zone_id"
              required=""
            >
              <option disabled selected>Select Your Zone</option>
              <option ng-repeat="z in zone" value="{{z.zone_id}}">
                {{z.name}}
              </option>
            </select>
            <br />
            <div ng-show="form.$submitted || form.zone_id.$touched">
              <div ng-show="form.zone_id.$error.required" class="red-text">
                Select your zone.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <textarea
              id="address"
              name="address"
              ng-model="x.address"
              class="materialize-textarea"
              required=""
            ></textarea>
            <label for="address">Address</label>
            <br />
            <div ng-show="form.$submitted || form.address.$touched">
              <div ng-show="form.address.$error.required" class="red-text">
                Tell us your address.
              </div>
            </div>
          </div>
          <div class="input-field col s12 m6 l6 align-center">
            <button
              type="submit"
              class="waves-effect btn"
              ng-click="saveAddress(x)"
              ng-disabled="form.$invalid"
            >
              Add Address
            </button>
          </div>
        </div>
      </form>
    </div>

    <hr />
    <table class="highlight centered">
      <thead>
        <tr>
          <th>Pin</th>
          <th>City</th>
          <th>Zone</th>
          <th>Country</th>
          <th>Address</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="a in address">
          <td>{{a.pin}}</td>
          <td>{{a.city}}</td>
          <td>{{a.zname}}</td>
          <td>{{a.cname}}</td>
          <td>{{a.address}}</td>
          <td>
            <a href="javascript:void(0)" ng-click="updateAddress(a)">
              <i class="material-icons blue-text lighten-3 accent-4"
                >mode_edit</i
              ></a
            ><a href="javascript:void(0)" ng-click="deleteAddress(a.addr_id)"
              ><i class="material-icons red-text accent-4">delete_forever</i></a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script>
  document.getElementById('add-btn').addEventListener('click', showAddForm);

  function showAddForm() {
    document.getElementById('address-section').classList.add('visible');
  }
</script>
