<br />
<div class="container-fluid" ng-controller="address">
	<div ng-if="!addr.address" class="container section">
		<div style="text-align: center">
			<img src="assets/images/address.svg" width="200px" />
			<p><b>No address has been added</b></p>
		</div>
	</div>
	<div class="col s12 m12 l12 center-align">
		<button class="waves-effect waves-light btn" id="add-btn"><i class="material-icons left">add_circle_outline</i>Add New Address</button>
	</div>
	<div class="container section">
		<div class="row">
			<form id="address-section" name="form" class="col s12" autocomplete="off" novalidate>
				<div class="row">
					<input ng-model="x.addr_id" name="addr_id" hidden />
					<div class="input-field col s12 m4 l4">
						<input id="name" name="name" ng-model="x.name" type="text" class="validate" />
						<label for="name">First Name </label>
					</div>
					<div class="input-field col s12 m4 l4">
						<input id="last_name" name="lname" ng-model="x.lname" type="text" class="validate" />
						<label for="last_name">Last Name</label>
					</div>
					<div class="input-field col s12 m4 l4">
						<input id="pin" name="pin" ng-model="x.pin" type="text" class="validate" />
						<label for="pin">Pin</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 m4 l4">
						<input id="city" name="city" ng-model="x.city" type="text" class="validate" />
						<label for="city">City</label>
					</div>
					<div class="input-field col s12 m4 l4">
						<select class="browser-default" ng-model="x.country_id" name="country_id">
							<option disabled selected>Select Your Country</option>
							<option ng-repeat="c in country" value="{{c.country_id}}">{{c.name}}</option>
						</select>
					</div>
					<div class="input-field col s12 m4 l4">
						<select class="browser-default" ng-model="x.zone_id" name="zone_id">
							<option disabled selected>Select Your Zone</option>
							<option ng-repeat="z in zone" value="{{z.zone_id}}">{{z.name}}</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 m6 l6">
						<textarea id="address" name="address" ng-model="x.address" class="materialize-textarea"></textarea>
						<label for="address">Address</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 center-align">
						<span class="red-text" ng-bind-html="errorMsg"></span>
						<button type="submit" class="waves-effect btn" ng-click="saveAddress(x)" ng-disabled="form.$invalid">Add Address</button>
					</div>
				</div>
			</form>
		</div>

		<table ng-if="addr.address" class="highlight centered">
			<thead>
				<tr class="teal lighten-5">
					<th>Pin</th>
					<th>City</th>
					<th>Zone</th>
					<th>Country</th>
					<th>Address</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="a in address">
					<td>{{a.pin}}</td>
					<td>{{a.city}}</td>
					<td>{{a.zname}}</td>
					<td>{{a.cname}}</td>
					<td>{{a.address}}</td>
					<td>
						<a href="javascript:void(0)" ng-click="updateAddress(a)"> <i class="material-icons blue-text lighten-3 accent-4">mode_edit</i></a
						><a href="javascript:void(0)" ng-click="deleteAddress(a.addr_id)"><i class="material-icons red-text accent-4">delete_forever</i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
