<nav class="dnav">
	<div class="nav-wrapper">
		<div class="container col s12">
			<a href="#!" class="breadcrumb">Home</a>
			<a href="#!" class="breadcrumb"><strong>Cart</strong></a>
		</div>
	</div>
</nav>
<div ng-if="cart.rows">
	<div class="container">
		<div class="section">
			<div class="row">
				<h5 class="left">
					<b>Your Cart is ready <span class="grey-text lighten-4" style="font-size: 14px">{{cart.rows}} Item(s)</span></b>
				</h5>
				<button id="remove-all" href="javascript:void(0)" class="right waves-effect red btn white-text" ng-click="deleteCart(cart.rows)">
					<i class="material-icons left">remove_shopping_cart</i>Remove all
				</button>
			</div>
			<table class="cart-table highlight centered">
				<thead>
					<tr class="teal lighten-5">
						<th>Item</th>
						<th>Quantity</th>
						<th>Price</th>
						<th>Total</th>
						<th>Remove</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="ci in cartItem">
						<td>{{ci.name}}</td>
						<td>{{ci.qty}}</td>
						<td>&#x20B9; {{ci.sp}}</td>
						<td>&#x20B9; {{ci.qty*ci.sp}}</td>
						<td>
							<a href="javascript:void(0)" ng-click="deleteItem(ci.p_id)"><i class="material-icons red-text accent-4">delete_forever</i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="right-align">
				<h6>Subtotal: <strong>&#x20B9; {{cart.total}}</strong></h6>
				<div class="">
					<a class="waves-effect grey lighten-3 btn black-text"><i class="material-icons left">shopping_basket</i>Shop More</a>
					<!-- </div>
      <div class="col s3"> -->
					<a href="#!/checkout" class="waves-effect green btn white-text"><i class="material-icons left">check</i>Checkout</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container section">
	<div ng-if="!cart.rows" style="text-align: center">
		<img src="assets/images/emptycart.png" width="200px" />
		<p>Add an item to get started</p>
		<a href="#" class="waves-effect btn">Okay</a>
	</div>
</div>
