<nav ng-if="!user.name" class="dnav">
	<div class="nav-wrapper">
		<div class="container col s12">
			<a href="#!" class="breadcrumb">Home</a>
			<a href="#!" class="breadcrumb"><strong>Checkout</strong></a>
		</div>
	</div>
</nav>

<div ng-if="!user.name" class="container">
	<div class="row">
		<div class="col col s12 l8 m8">
			<div class="row">
				<div class="col s12 section">
					<div style="background: #f8f7f7; padding: 5px 10px 10px 10px">
						<h5 class=""><b>Checkout</b></h5>
						<br />
						<div ng-include="'pages/progress.html'"></div>
					</div>
					<br />
					<div class="input-field center-align">
						<h6><b>Please sign in or sign up to continue</b></h6>
						<a class="waves-effect btn yellow lighten-5 modal-trigger" href="#modalSignin"><i class="material-icons left">lock</i>Sign in</a>
						<a class="waves-effect btn yellow lighten-5 modal-trigger" href="#modalSignup"><i class="material-icons left">person_add</i>Sign up</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col s12 l3 push-l1 m3">
			<h6><b>Order Summary</b></h6>
			<div class="order-summary" style="line-height: 2">
				<div class="divider"></div>
				<div>
					<span class="left">Total item price</span>
					<span class="right">&#x20B9; 2000</span>
				</div>
				<div>
					<span class="left">Total discount</span>
					<span class="right">&#x20B9; 100</span>
				</div>
				<div>
					<span class="left">Shipping charge</span>
					<span class="right">&#x20B9; 500</span>
				</div>
				<div class="divider"></div>
				<div>
					<span class="left"><b>Total</b></span>
					<span class="right"><b>&#x20B9; 53500</b></span>
				</div>
				<div class="divider"></div>
			</div>

			<div class="row section">
				<form class="col s12">
					<div class="row">
						<div class="input-field col s12">
							<input id="email" type="email" class="validate" />
							<label for="email">Promo code</label>
							<button class="waves-effect btn" style="width: 100%">Apply promo code</button>
						</div>
						<div class="input-field col s12">
							<button
								ng-controller="cart"
								class="waves-effect btn-large orange darken-2 white-text"
								ng-disabled="!user.name || !addr.address"
								style="width: 100%"
							>
								<i class="material-icons right">keyboard_arrow_right</i>Proceed to shipping
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div ng-if="user.name" ng-include="'pages/shipping.html'"></div>
