<div class="container-fluid" ng-controller="order">
	<!-- <h6 class="blue-text text-darken-2 center-align">
		<span style="padding: 10px; border: 1px solid #e0e0e0; background: #f9f9f9">Your Order Details</span>
	</h6> -->
	<div ng-if="ord.order_id" class="section">
		<ul class="collapsible">
			<li ng-repeat="o in orders" ng-click="getOrders(o.order_id)">
				<div class="collapsible-header deep-orange-text accent-4" style="display: block; padding: 10px 10px 0px 10px">
					<div class="row" style="margin-bottom: 1px">
						<div class="col s6 l6 left-align">
							<strong class="red-text darken-4"
								>OrderID: {{o.order_id}}<small style="line-height: 2.5; color: #000; padding-left: 5px">Total: &#x20B9; {{o.total}}</small></strong
							>
						</div>
						<div class="col s6 l6 right-align">
							<strong class="orange-text"><small style="line-height: 2.5; color: #000; padding-right: 5px">{{o.date_added}}</small>{{o.name}}</strong>
						</div>
					</div>
				</div>
				<div class="collapsible-body">
					<span><strong>Order Information</strong></span>
					<table class="order-table">
						<thead>
							<tr class="teal lighten-5">
								<th>Product</th>
								<th>Image</th>
								<th>Price</th>
								<th>Qty</th>
								<th>Total</th>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="oi in orderItem">
								<td><b ng-bind-html="oi.name"></b></td>
								<td><img src="./assets/images/fruits.png" width="90px" class="responsive-img" /></td>
								<td>&#x20B9; {{oi.price}}</td>
								<td>{{oi.quantity}}</td>
								<td>&#x20B9; {{oi.total}}</td>
							</tr>
							<tr>
								<th colspan="4" style="text-align: right">Total</th>
								<th>&#x20B9; {{o.amt}}</th>
							</tr>
							<tr>
								<th colspan="4" style="text-align: right">Shipping</th>
								<th>+ &#x20B9; {{o.shipping}}</th>
							</tr>
							<tr>
								<th colspan="4" style="text-align: right">Coupon</th>
								<th>- &#x20B9; {{o.coupon_disc}}</th>
							</tr>
							<tr>
								<th colspan="4" style="text-align: right">Grand Total</th>
								<th>&#x20B9; {{o.total}}</th>
							</tr>
						</tbody>
					</table>
				</div>
			</li>
		</ul>
	</div>

	<div ng-if="!ord.order_id" class="container section">
		<div style="text-align: center">
			<img src="assets/images/order.png" width="200px" />
			<p><b>Your Order is empty</b></p>
			<p>Add an item to get started</p>
			<a href="#" class="waves-effect btn">Okay</a>
		</div>
	</div>
</div>
