<div class="container-fluid" ng-controller="login">
	<!-- <h6 class="blue-text text-darken-2 center-align">
		<span style="padding: 10px; border: 1px solid #e0e0e0; background: #f9f9f9">Update your Password</span>
	</h6> -->
	<div class="section">
		<div class="row">
			<form name="form" class="col l4 offset-l4 s12" autocomplete="off">
				<!-- <div class="row">
					<div class="input-field col s12">
						<input id="currentPassword" type="password" ng-model="curPass" class="validate" />
						<label for="currentPassword"><span style="color: #d50000">*</span>Current Password</label>
					</div>
				</div> -->
				<div class="row">
					<div class="input-field col s12">
						<input id="pass" type="password" ng-model="x.pass" class="validate" />
						<label for="pass"><span style="color: #d50000">*</span>New Password</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="cPass" type="password" ng-model="x.cPass" class="validate" ng-change="passCheck()" />
						<label for="cPass"><span style="color: #d50000">*</span>Confirm Password</label>
					</div>
					<span id="msg" class="{{errorClass}}"></span>
				</div>
				<!-- <div class="center-align">

				</div> -->
				<div class="input-field col s16 align-center">
					<span class="{{errorClass}}" ng-bind-html="errorMsg"></span>
					<button type="submit" class="waves-effect btn" ng-click="changePass(x)">Change</button>
					<button type="reset" class="waves-effect btn grey lighten-3 black-text" href="#">Clear</button>
				</div>
			</form>
		</div>
	</div>
</div>
