<nav class="dnav">
	<div class="nav-wrapper">
		<div class="container col s12">
			<a href="#!" class="breadcrumb">Home</a>
			<a href="#!" class="breadcrumb">{{s_name}}</a>
			<a href="#!" class="breadcrumb"><strong>{{p_name}}</strong></a>
		</div>
	</div>
</nav>

<div class="container row products">
	<div class="col s12 l6">
		<ul class="collection">
			<li class="collection-item avatar" ng-repeat="p in products">
				<img ng-src="{{img_url}}/w/uploads/products/{{p.img}}" class="circle" />
				<span class="title" style="font-size: 14px"><b>{{p.name}}</b></span>

				<p class="btns">
					<strong>MRP: <del>{{p.mrp}}</del>&nbsp;{{p.sp}}/-</strong>
					<span
						><a class="waves-effect white btn-small green-text darken-1" ng-click="addToCart(p.p_id)"
							><i class="material-icons left">add</i><span>Add</span></a
						></span
					>
					<span
						><a class="waves-effect pink lighten-1 btn-small white-text" ng-controller="wishlist" ng-click="addToWishlist(p.p_id)">
							<i class="material-icons left">favorite_outline</i>
						</a></span
					>
				</p>
			</li>
		</ul>
	</div>

	<div ng-if="cart.rows" class="col l6 hide-on-med-and-down" ng-controller="cart" style="border-left: 1px solid white">
		<h6><b>Your cart is ready ({{cart.rows}})</b></h6>
		<table class="highlight centered">
			<thead>
				<tr class="teal lighten-5">
					<th>Item</th>
					<th>Quantity</th>
					<th>Price</th>
					<th>Total</th>
					<th>Remove</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="ci in cartItem">
					<td>{{ci.name}}</td>
					<td>{{ci.qty}}</td>
					<td>&#x20B9; {{ci.sp}}</td>
					<td>&#x20B9; {{ci.qty*ci.sp}}</td>
					<td>
						<!-- <a href="javascript:void(0)" ng-click="deleteWish()"><i class="material-icons red-text accent-4">delete_forever</i></a> -->
						<a href="javascript:void(0)" ng-click="deleteItem(ci.p_id)"><i class="material-icons red-text accent-4">delete_forever</i></a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="right-align">
			<h6>Subtotal: <strong>&#x20B9; {{cart.total}}</strong></h6>
			<div class="">
				<a class="waves-effect green btn white-text"><i class="material-icons left">check</i>Checkout</a>
			</div>
		</div>
	</div>
	<div ng-if="!cart.rows" class="section" style="text-align: center">
		<div class="col l6 hide-on-med-and-down container section">
			<img src="assets/images/emptycart.svg" width="80px" />
			<h6><b>Your cart is empty</b></h6>
			<p>Add an item to get started</p>
		</div>
	</div>
</div>
